.connectContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
  padding-bottom: 4rem;
  width: 100%;
}

.friend-box {
  display: flex;
  margin-top: 1rem;
  flex-direction: row;
  gap: 1rem;
  color: white;
  width: 100%;
  justify-content: center;
}

.connectList {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.connectList input {
  border: 1px solid var(--green-d);
  border-radius: 0.25rem;
}

.connectBtn {
  border: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--green-d);
  color: var(--white);
  font-weight: 700;
}

.connectBtn:hover {
  background-color: var(--green-l);
}
