.connectContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
  padding-bottom: 4rem;
  width: 100%;
}

.friend-box {
  display: flex;
  margin-top: 1rem;
  flex-direction: row;
  gap: 1rem;
  color: white;
  width: 100%;
  justify-content: center;
}

.join-friend-box {
  background-color: rgb(60, 60, 60);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}
.add-friend-box {
  background-color: rgb(21, 21, 21);
  padding: 0.5rem;
}

.connectList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.connectBtn {
  border: none;
  padding: 0.5rem;
  background-color: var(--yellow-d);
  color: black;
}

.add {
  background-color: var(--green-l);
}
