.accordionSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 70%;
}

.accordionContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--green-d);
}

.numeral {
  color: var(--grey);
  font-size: 0.8rem;
  margin-right: 0.5rem;
  font-weight: 700;
}

.wrap {
  display: flex;
  justify-content: space-between;
  background-color: var(--green-d);
  color: var(--white);
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 1rem;
  border-bottom: 1px solid var(--green-d);
  margin-bottom: 0.5rem;
}

.wrap:last-of-type {
  margin-bottom: 0;
}

.copyBtn {
  background: none;
  background-color: var(--green-d);
  font-weight: 700;
  color: var(--white);
  border: 1px solid var(--green-d);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
}

.copyBtn:hover {
  background-color: var(--green-l);
}

.dropdown > div {
  padding: 1rem;
  color: var(--grey);
  border-bottom: 1px dotted var(--grey);
}

.dropdown > div:last-of-type {
  border-bottom: none;
}

.sharedMember {
  font-size: 1.2rem;
  font-weight: 500;
  background-color: rgb(215, 215, 215);
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  width: fit-content;
}

.removeBtn {
  background: none;
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--red-d);
  color: var(--white);
  margin-left: 1rem;
}

.removeBtn:hover {
  background-color: var(--red-l);
}

@media only screen and (max-width: 800px) {
  .accordionSection {
    max-width: 90%;
  }
}
