.link {
  font-weight: 700;
  text-transform: lowercase;
  letter-spacing: 1px;
  color: var(--green-d);
}
.link:hover {
  color: var(--accent);
}
.linksContainer {
  display: flex;
  background-color: var(--white);
  flex-direction: row;
  gap: 1rem;
}

@media (max-width: 800px) {
  .linksContainer {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
  }

  .linksContainer a:hover {
    background-color: var(--accent);
    color: var(--white);
    transition: all 200ms ease-in-out;
  }
  .link {
    padding: 0 1rem;
    border-radius: 0.25rem;
    width: 100%;
  }
  .link:hover {
    color: var(--white);
  }
}

/* COPY PASTE */
/* .link {
  font-weight: 700;
  text-transform: lowercase;
  letter-spacing: 1px;
  color: var(--primary);
}
.link:hover {
  color: var(--accent);
}
.linksContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background-color: var(--white);
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 2rem;
  position: absolute;
  right: 2rem;
  cursor: pointer;
}

@media (max-width: 990px) {
  .linksContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
  }
} */
